* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: rgb(29, 15, 15);
  --dark-light: rgb(79, 82, 92);
  --bgColor: white;
  --bgColor2: rgb(245, 247, 242);
  --color2: rgb(8, 145, 26);
  --textColor: rgb(0, 30, 94);
}

body {
  color: var(--textColor);
  font-family: 'Lato', sans-serif;
  position: relative;
}

.organizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.organizer .mainHeader {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.organizer .mainHeader .weatherApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.organizer .mainHeader .weatherApp .welcomeText {
  width: 100%;
  font-size: 36px;
  text-align: center;
}

.organizer .mainHeader .weatherApp .weatherBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.organizer .mainHeader .weatherApp .weatherBody .topPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-top: 10%;
}

.organizer .mainHeader .weatherApp .weatherBody .topPart .topPartSection {
  padding: 10px;
  margin: 20px;
}

.organizer .mainHeader .weatherApp .weatherBody .topPart input {
  width: 50%;
  text-align: center;
  font-size: 14px;
}

.organizer .mainHeader .weatherApp .weatherBody .topPart .cityName {
  width: 40%;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.organizer .mainHeader .weatherApp .weatherBody .topPart .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  font-size: 35px;
  background-color: var(--bgColor2);
  -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);
}

.organizer .mainHeader .weatherApp .weatherBody .topPart .sendBtn {
  margin: 10px;
  font-size: 12px;
  width: 20%;
}

.organizer .mainHeader .weatherApp .weatherBody .topPart .weatherImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.organizer .mainHeader .weatherApp .weatherBody .topPart .weatherImg img {
  height: 100px;
  width: 100px;
}

.organizer .mainHeader .weatherApp .weatherBody .bottomPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 30vh;
}

.organizer .mainHeader .weatherApp .weatherBody .bottomPart p {
  text-align: right;
  display: block;
  margin: 30px;
}

.organizer .mainHeader .weatherApp .weatherBody .bottomPart .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  line-height: 40px;
  width: 70%;
}

.organizer .mainHeader .weatherApp .weatherBody .bottomPart .results .weatherResult {
  border-bottom: 1px solid var(--textColor);
  height: 50px;
  width: 130px;
  overflow: hidden;
}

.todo {
  width: 900px;
  margin-left: 30px;
  letter-spacing: 2px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px 5px rgba(82, 82, 82, 0.2);
          box-shadow: 1px 1px 10px 5px rgba(82, 82, 82, 0.2);
  text-align: center;
  border-radius: 15px;
}

.todo .header {
  border-radius: 5px 5px 0 0;
  padding: 40px;
  background-image: linear-gradient(120deg, #d1f5d7 0%, #cbdff7 100%);
}

.todo .header .far,
.todo .header .fas {
  pointer-events: none;
}

.todo .header h1 {
  color: var(--textColor);
  margin: 0px;
  padding-bottom: 50px;
}

.todo .header .task-input {
  width: 80%;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  color: var(--textColor-dark);
  background-color: var(--bgColor);
}

.todo .header .addBtn {
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  color: var(--dark);
  background-color: var(--bgColor);
  opacity: 0.7;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.todo .header .addBtn:hover {
  color: #fff;
  background-color: var(--bgColor);
}

.todo .header .alert1 {
  margin-top: 20px;
  font-size: 15px;
  color: var(--dark-light);
}

.todo .header .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  font-size: 12px;
}

.todo .todolist {
  padding: 20px 0;
}

.todo .todolist h3 {
  font-size: 18px;
  margin: 30px 0 60px 0;
}

.todo .todolist .taskOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.todo .todolist .taskOptions .taskOption1 {
  width: 110px;
  border-left: 1px solid red;
  font-size: 10px;
  overflow-wrap: normal;
}

.todo .todolist .taskOptions .taskOption2 {
  width: 60px;
  border-left: 1px solid red;
  font-size: 8px;
  overflow-wrap: normal;
}

.todo .todolist ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  padding-left: 50px;
  text-align: left;
  list-style: none;
  font-size: 20px;
  border-bottom: 1px solid grey;
}

.todo .todolist .complete {
  font-size: 12px;
  color: var(--textColor);
  text-decoration: line-through;
  background-color: var(--color2);
}

.todo .todolist i {
  pointer-events: none;
}

.todo .todolist .tools {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.todo .todolist .tools .fas,
.todo .todolist .tools .far {
  margin: 0 5px;
  font-size: 20px;
}

.todo .todolist .tools .goalTimeTool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 45px;
  color: var(--textColor);
  font-size: 10px;
}

.todo .todolist .tools .goalTimeTool .goalData {
  margin-top: 5px;
}

.todo .todolist .tools .timeLeftTool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  color: var(--color2);
  margin-right: 45px;
}

.todo .todolist .tools button {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.todo .todolist .tools button:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.todo .todolist .tools .complete {
  color: var(--textColor);
  font-size: 20px;
}

.todo .todolist .tools .edit {
  font-weight: bold;
  color: var(--dark);
}

.todo .todolist .tools .delete {
  color: red;
}

.editWindow {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -webkit-box-shadow: 3px 3px 3px 3px var(--bgColor2);
          box-shadow: 3px 3px 3px 3px var(--bgColor2);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%px;
  height: 30%;
  color: var(--dark-light);
  background-color: var(--bgColor2);
}

.editWindow h3 {
  padding: 30px;
  font-size: 25px;
  text-align: center;
}

.editWindow .editBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.editWindow .editBody .editAlert {
  color: var(--textColor);
  margin-bottom: 20px;
}

.editWindow .editBody .editInput {
  width: 100%;
  padding: 10px 20px;
  color: var(--textColor);
  background-color: var(--bgColor);
}

.editWindow .editBody .edit-btn {
  width: 20%;
  padding: 10px 22px;
  margin: 20px;
  border: none;
  border-radius: 5%;
  color: var(--textColor);
  background-color: var(--bgColor);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.editWindow .editBody .edit-btn:hover {
  color: var(--dark-light);
  background-color: var(--bgColor);
}
/*# sourceMappingURL=style.css.map */