* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--dark: rgb(29, 15, 15);
	--dark-light: rgb(79, 82, 92);
	--bgColor: white;
	--bgColor2: rgb(240, 240, 240);
	--color2: rgb(8, 145, 26);
	--textColor: rgb(0, 30, 94);
}
body {
	position: relative;
	color: var(--textColor);
	font-family: 'Lato', sans-serif;
}

.organizer {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 5%;
	.mainHeader {
		margin-bottom: 50px;
		display: flex;
		justify-content: space-evenly;

		.weatherApp {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			.welcomeText {
				width: 100%;
				font-size: 36px;
				text-align: center;
			}
			.weatherBody {
				display: flex;
				width: 100%;
				.topPart {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					width: 50%;
					margin-top: 10%;
					.topPartSection {
						padding: 10px;
						margin: 20px;
					}
					input {
						width: 50%;
						text-align: center;
						font-size: 14px;
					}
					.cityName {
						width: 40%;
						font-size: 25px;
						padding: 10px;
						text-align: center;
					}
					.clock {
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						width: 200px;
						height: 80px;
						border-radius: 10px;
						font-size: 35px;
						background-color: var(--bgColor2);
						box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);
					}
					.sendBtn {
						margin: 10px;
						font-size: 12px;
						width: 20%;
					}
					.weatherImg {
						display: flex;
						justify-content: center;
						width: 100%;
						img {
							height: 100px;
							width: 100px;
						}
					}
				}
				.bottomPart {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					width: 50%;
					height: 30vh;
					p {
						text-align: right;
						display: block;
						margin: 30px;
					}
					.results {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						text-align: center;
						line-height: 40px;
						width: 70%;
						.weatherResult {
							border-bottom: 1px solid var(--textColor);
							height: 50px;
							width: 130px;
							overflow: hidden;
						}
					}
				}
			}
		}
	}
}
// section to do
.todo {
	width: 900px;
	margin-left: 30px;
	letter-spacing: 2px;
	background: #fff;
	box-shadow: 1px 1px 10px 5px rgba(82, 82, 82, 0.2);
	text-align: center;
	border-radius: 15px;
	.header {
		position: relative;
		border-radius: 5px 5px 0 0;
		padding: 40px;
		background-image: linear-gradient(120deg, #d1f5d7 0%, #cbdff7 100%);
		// z-index: 0;

		.addTaskButtonShow {
			position: absolute;
			display: flex;
			flex-direction: row;
			align-items: center;
			top: 8px;
			width: 120px;
			height: 30px;
			padding: 5px;
			border-radius: 10px;
			font-size: 10px;
			font-weight: bold;
			color: var(--textColor);
			background-color: var(--bgColor2);
			transition: transform 0.4s;
		}
		.addTaskButtonShow:hover {
			transform: scale(1.2);
		}
		.far,
		.fas {
			pointer-events: none;
		}
		h1 {
			color: var(--textColor);
			margin: 0px;
			padding-bottom: 50px;
		}

		.task-input {
			width: 80%;
			padding: 10px 20px;
			margin: 30px 0;
			border: none;
			border-radius: 5px;
			color: var(--textColor-dark);
			background-color: var(--bgColor);
		}

		.addBtn {
			padding: 8px 15px;
			border: none;
			border-radius: 15px;
			color: var(--dark);
			background-color: var(--bgColor);
			opacity: 0.7;
			text-transform: uppercase;
			cursor: pointer;
			font-weight: bold;
			transition: transform 0.3s, background-color 0.3s;
		}
		.addBtn:hover {
			transform: scale(1.2);
			background-color: var(--bgColor2);
		}
		.alert1 {
			margin-top: 20px;
			font-size: 15px;
			color: var(--dark-light);
		}
		.date {
			// display: flex;
			// justify-content: center;
			margin: 20px;
			// font-size: 12px;
		}
	}
	.todolist {
		padding: 20px 0;
		background-color: var(--bgColor);
		height: 800px;
		transition: transform 0.6s, opacity 0.6s;
		h3 {
			font-size: 18px;
			margin: 30px 0 60px 0;
		}
		.taskOptions {
			display: flex;
			justify-content: end;
			width: 100%;
			.taskOption1 {
				width: 110px;
				border-left: 1px solid red;
				font-size: 10px;
				overflow-wrap: normal;
			}
			.taskOption2 {
				width: 60px;
				border-left: 1px solid red;
				font-size: 8px;
				overflow-wrap: normal;
			}
		}
		ul li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 15px;
			padding-left: 50px;
			text-align: left;
			list-style: none;
			font-size: 20px;
			border-bottom: 1px solid grey;
		}
		.complete {
			font-size: 12px;
			color: var(--textColor);
			text-decoration: line-through;
			background-color: var(--color2);
		}
		i {
			pointer-events: none;
		}

		.tools {
			right: 0;
			display: inline-block;
			display: flex;
			flex-direction: row;
			.fas,
			.far {
				margin: 0 5px;
				font-size: 20px;
			}
			.goalTimeTool {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-right: 45px;
				color: var(--textColor);
				font-size: 10px;
				.goaldate {
					margin-top: 5px;
				}
			}
			.timeLeftTool {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 10px;
				width: 90px;
				color: var(--color2);
				margin-right: 30px;

				.timeLeft {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					text-align: center;

					width: 100px;
					.timeLeftNameCard {
						color: var(--textColor);
					}
					.timeSmallCard {
						margin: 2px;
						width: 90px;
						background-color: var(--bgColor2);
						border-radius: 5px;
						box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
						font-weight: bold;
						font-size: 10px;
					}
				}
			}
			button {
				padding: 15px 10px;
				border: none;
				background-color: transparent;
				cursor: pointer;
				transition: transform 0.6s;
			}
			button:hover {
				transform: scale(1.5);
			}
			.complete {
				color: var(--textColor);
				font-size: 20px;
			}
			.edit {
				font-weight: bold;
				color: var(--dark);
			}

			.delete {
				color: red;
			}
		}
	}
	.hideShowTodo {
		transform: translateY(-360px);
	}
}
.editWindow {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	position: fixed;
	box-shadow: 3px 3px 3px 3px var(--bgColor2);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%px;
	height: 30%;
	color: var(--dark-light);
	background-color: var(--bgColor2);
	h3 {
		padding: 30px;
		font-size: 25px;
		text-align: center;
	}
	.editBody {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		padding: 10px;

		.editAlert {
			color: var(--textColor);
			margin-bottom: 20px;
		}

		.editInput {
			width: 100%;
			padding: 10px 20px;
			color: var(--textColor);
			background-color: var(--bgColor);
		}

		.edit-btn {
			width: 20%;
			padding: 10px 22px;
			margin: 20px;
			border: none;
			border-radius: 5%;
			color: var(--textColor);
			background-color: var(--bgColor);
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;
		}

		.edit-btn:hover {
			color: var(--dark-light);
			background-color: var(--bgColor);
		}
		.dateEdit {
			input {
				width: 60px;
			}
		}
	}
}
