* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--dark: rgb(29, 15, 15);
	--dark-light: rgb(79, 82, 92);
	--bgColor: white;
	--bgColor2: rgb(245, 247, 242);
	--color2: rgb(14, 212, 41);
	--textColor: rgb(0, 30, 94);
}
body {
	color: var(--textColor);
	font-family: 'Lato', sans-serif;
	position: relative;
}
.organizer {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 95%;
	margin: 5%;
	.mainHeader {
		width: 100vw;
		margin-bottom: 50px;
		display: flex;
		flex-direction: row;
		.weatherApp {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			.welcomeText {
				width: 100%;
				font-size: 36px;
				text-align: center;
			}
			.weatherBody {
				display: flex;
				width: 100%;
				.topPart {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					align-items: center;
					width: 50%;
					input {
						text-align: center;
						width: 50%;
						font-size: 14px;
					}
					.cityName {
						font-size: 25px;
						padding: 10px;
						width: 40%;
					}
					.sendBtn {
						margin: 10px;
						font-size: 12px;
						width: 20%;
					}
					.weatherImg {
						width: 40%;
						img {
							height: 100px;
							width: 100px;
						}
					}
				}
				.bottomPart {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					width: 50%;
					height: 30vh;
					p {
						text-align: right;
						display: block;
						margin: 30px;
					}
					.results {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						text-align: center;
						line-height: 40px;
						width: 70%;
						.weatherResult {
							border-bottom: 1px solid var(--textColor);
							height: 50px;
							width: 130px;
							overflow: hidden;
						}
					}
				}
			}
		}
	}
}
// section to do
.todo {
	width: 1000px;
	letter-spacing: 2px;
	background: #fff;
	box-shadow: 1px 1px 10px 5px rgba(82, 82, 82, 0.2);
	text-align: center;
	.header {
		border-radius: 5px 5px 0 0;
		padding: 40px;
		background-image: linear-gradient(120deg, #d1f5d7 0%, #cbdff7 100%);
		.far,
		.fas {
			pointer-events: none;
		}
		h1 {
			color: var(--textColor);
			margin: 0px;
			padding-bottom: 50px;
		}

		.task-input {
			width: 80%;
			padding: 10px 20px;
			margin-right: 20px;
			border: none;
			border-radius: 5px;
			color: var(--textColor-dark);
			background-color: var(--bgColor);
		}

		.addBtn {
			padding: 10px 22px;
			border: none;
			border-radius: 5px;
			color: var(--dark);
			background-color: var(--bgColor);
			opacity: 0.7;
			text-transform: uppercase;
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;
		}
		.addBtn:hover {
			color: #fff;
			background-color: var(--bgColor);
		}
		.alert1 {
			margin-top: 20px;
			font-size: 15px;
			color: var(--dark-light);
		}
	}
	.todolist {
		padding: 20px 0;
		h3 {
			font-size: 18px;
			margin: 30px 0 60px 0;
		}
		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 15px;
			padding-left: 50px;
			text-align: left;
			overflow-wrap: break-word;
			list-style: none;
			font-size: 20px;
			border-bottom: 1px solid grey;
		}

		.tools {
			display: inline-block;
			display: flex;
			flex-direction: row;
			.timeLeft {
				font-size: 16px;
				color: var(--color2);
				margin: 15px;
				text-align: center;
			}
			button {
				padding: 15px 10px;
				border: none;
				background-color: transparent;
				cursor: pointer;
				transition: background-color 0.3s;
			}
			button:hover {
				background-color: #ddd;
			}
			.complete {
				color: var(--textColor);
				font-size: 20px;
			}
			.edit {
				font-weight: bold;
				color: var(--dark);
			}

			.delete {
				color: red;
			}
			.completed {
				font-size: 12px;
				color: var(--textColor);
				text-decoration: line-through;
				background-color: var(--color2);
			}
		}
	}
}
.editWindow {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	position: fixed;
	box-shadow: 3px 3px 3px 3px var(--bgColor2);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%px;
	height: 30%;
	color: var(--dark-light);
	background-color: var(--bgColor2);
	h3 {
		padding: 30px;
		font-size: 25px;
		text-align: center;
	}
	.editBody {
		display: flex;
		justify-content: center;
		align-items: center;
        flex-wrap: wrap;
		width: 100%;
		padding: 10px;

		.editAlert {
			color: var(--textColor);
			margin-bottom: 20px;
		}

		.editInput {
			width: 100%;
			padding: 10px 20px;
			color: var(--textColor);
			background-color: var(--bgColor);
		}

		.edit-btn {
			width: 20%;
			padding: 10px 22px;
			margin: 20px;
			border: none;
			border-radius: 5%;
			color: var(--textColor);
			background-color: var(--bgColor);
            text-align: center;
			text-transform: uppercase;
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;
		}

		.edit-btn:hover {
			color: var(--dark-light);
			background-color: var(--bgColor);
		}
	}
}
