* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--dark: rgb(29, 15, 15);
	--dark-light: rgb(79, 82, 92);
	--color1: white;
	--color2: rgb(14, 212, 41);
	--textColor: rgb(0, 30, 94);
}

body {
	display: flex;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	margin-top: 120px;
}

h1 {
	color: var(--textColor);
	margin: 0px;
	padding-bottom: 50px;
}

.far,
.fas {
	pointer-events: none;
}

.todo {
	width: 1000px;
	letter-spacing: 2px;
	background: #fff;
	box-shadow: 1px 1px 10px 5px rgba(82, 82, 82, 0.2);
	text-align: center;
}

.header {
	border-radius: 5px 5px 0 0;
	padding: 40px;
	background-image: linear-gradient(120deg, #d1f5d7 0%, #cbdff7 100%);
}

.task-input {
	width: 80%;
	padding: 10px 20px;
	margin-right: 20px;
	border: none;
	border-radius: 5px;
	color: var(--textColor-dark);
	background-color: var(--color1);
}

.alert1 {
	margin-top: 20px;
	font-size: 30px;
	color: var(--dark-light);
}

.addBtn {
	padding: 10px 22px;
	border: none;
	border-radius: 5px;
	color: var(--dark);
	background-color: var(--color1);
	opacity: 0.7;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}

.addBtn:hover {
	color: #fff;
	background-color: var(--color1);
}

.todolist {
	padding: 20px 0;
}

.todolist h3 {
	font-size: 20px;
	margin: 30px 0 60px 0;
}
.timeLeft {
	font-size: 16px;
	color: var(--color2);
	box-shadow: 1px 1px 1px 1px black;
	border-radius: 3px;
	text-align: center;
}

.todolist li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px;
	padding-left: 50px;
	text-align: left;
	overflow-wrap: break-word;
	list-style: none;
	font-size: 24px;
	border-bottom: 1px solid grey;
}

.tools {
	display: inline-block;
}

.tools button {
	padding: 15px 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.3s;
}

.tools button:hover {
	background-color: #ddd;
}

.complete {
	color: var(--dark);
	font-size: 20px;
}

.edit {
	font-weight: bold;
	color: var(--dark);
}

.delete {
	color: red;
}

.completed {
	font-size: 12px;
	color: var(--textColor-dark);
	text-decoration: line-through;
	background-color: var(--color2);
}

.editWindow {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	position: fixed;
	bottom: 20px;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 20%;
	color: var(--dark-light);
	background-image: linear-gradient(120deg, #14b82f 0%, #4df8cd 100%);
}

.editWindow h3 {
	padding: 30px;
	font-size: 25px;
	text-align: center;
}

.edit-info {
	color: var(--textColor);
	margin-bottom: 20px;
}

.editBody {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.editInput {
	width: 100%;
	padding: 10px 20px;
	color: var(--dark);
	background-color: var(--textColor);
}

.edit-btn {
	width: 20%;
	height: 100%;
	display: inline-block;
	padding: 10px 22px;
	margin: 20px;
	border: none;
	border-radius: 50%;
	color: var(--dark);
	background-color: var(--textColor);
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}

.edit-btn:hover {
	color: #fff;
	background-color: var(--color1);
}
